<nav class="second-navbar">
    <ul>
      <li><a href="#featured-products">Featured Products</a></li>
      <li><a href="#top-selling-products">Top Selling Products</a></li>
      <li><a href="#new-arrivals">New Arrivals</a></li>
    </ul>
  </nav>


  <style>
     /* Second Navbar */
  .second-navbar {
    background-color: gray; /* Set the background color to gray */
    color: white;
    padding: 10px 0;
    text-align: center;
  }

  .second-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .second-navbar ul li {
    display: inline;
    margin-right: 20px;
  }

  .second-navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .second-navbar ul li a:hover {
    text-decoration: underline;
  }

  </style>