<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-1">Message</h1>
    <p class="lead">you are registered</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">logout</a>
    

  </div>
</div>

<%- include('partials/footer') %>
