<!-- add-product.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Adjust the path to your CSS file -->
  </head>
  <body>
    <h1>Add Product</h1>

    <form
      action="/admin/products/new"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required />
      </div>
      <div class="form-group">
        <label for="summary">Summary:</label>
        <textarea id="summary" name="summary" rows="4" required></textarea>
      </div>

      <div class="form-group">
        <label for="genre">Genre:</label>
        <select id="genre" name="genre" required>
          <option value="">Select a Genre</option>
          <option value="Fiction">Fiction</option>
          <option value="Novel">Novel</option>
          <option value="Scientific">Scientific</option>
          <option value="History">History</option>
          <option value="Mystery">Mystery</option>
          <option value="Uncategorized">Uncategorized</option>
        </select>
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="100" required />
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" required accept="image/*" />
      </div>
      <button type="submit">Create Product</button>
    </form>
  </body>
</html>
